<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corporis itaque vero? Explicabo dolor quia quo iusto. Quidem tenetur repudiandae nam doloremque molestiae ad ipsam optio. Harum in velit explicabo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corporis itaque vero? Explicabo dolor quia quo iusto. Quidem tenetur repudiandae nam doloremque molestiae ad ipsam optio. Harum in velit explicabo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corporis itaque vero? Explicabo dolor quia quo iusto. Quidem tenetur repudiandae nam doloremque molestiae ad ipsam optio. Harum in velit explicabo.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>