body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    width: 400px;
    height: 600px;
    background-color: yellow;
    position: relative;
    text-align: center;
}
.doodler {
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
}
.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}
.score {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
}
#score {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: red;
}
.restart {
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 85%;
    left: 20%;
}